body {background-color: rgba(255, 255, 0, 0.452);;}
a {background-color:burlywood;
   font-size: x-large;}

header {background-color: oldlace;}

p {font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   font-size:  30px;
   font-weight: 500;}

li {font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   font-size:  22px;}}

td {font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   font-size: 22px;}

.RatoKidtrack1 {display: inline-block;
               font-family: Arial, Helvetica, sans-serif;
               text-align: justify;
               font-size:  22px;}

.RatoKidtrack2 {display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
   font-size:  22px;}

.RatoKidtrack3 {display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      font-size:  22px;}
   